# Core 
ENV=development
DATABASE_URL=sqlite:./magnolia.db
HOST=127.0.0.1
PORT=3000
BASE_URL=http://localhost:3000
WEB_ORIGIN=http://localhost:3000

# Session 
# Secret usedd for TURN sessions (optional, 64-char hex = 256-bit AES key)
# If you have no idea how, try: python -c "import secrets; print(secrets.token_hex(32))"
# Please don't use online generators, or copy pre-generated stuff
SESSION_SECRET=
SESSION_DURATION_DAYS=7

# SMTP (leave blank to disable email features), can be edited in the frontend
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=

# Rate Limiting 
RATE_LIMIT_GLOBAL=100
RATE_LIMIT_AUTH=5

# Encryption at Rest (optional, 64-char hex = 256-bit AES key)
# If you have no idea how, try: python -c "import secrets; print(secrets.token_hex(32))"
# Please, again, don't use online generators, or copy pre-generated stuff
ENCRYPTION_AT_REST_KEY=

# Logging 
LOG_FORMAT=pretty
LOG_OUTPUT=stdout
# LOG_FILE_PATH=./magnolia.log
# LOG_INCLUDE_SOURCE=true
